.todoPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  // background-color: rgb(244, 245, 245);
}

.tdoPgTop {
  width: 500px;
  margin-top: 80px;
}

.tdoPgBttm {
  width: 500px;
  margin-top: 80px;
}
